.app-modal {
    position: absolute;
    z-index: 1;
}

.app-modal-content{
    background-color: var(--body-clr);
    background-color: red;
    border-radius: .5em;
    font-size: 1.25rem;
    text-align: center;
    margin: auto;
    padding: 1em;
    max-width: 400px;
}